<div class="card-group">
  
  <app-album-card 
    *ngFor="let album of albums"
    [album]="album"
    class="card">
  </app-album-card>

  <!-- New row separator -->
  <div style="flex: 1 1 100%"></div>

</div>

<!-- <div class="card-group">
    <div class="card"> -->

<!-- .card-group>.card>img.card-img-top+.card-body>h5.card-title -->


<!-- 
<ul>
  <app-placki>
    <li></li>
    <li></li>
  </app-placki>
</ul>
 -->