<img [src]="album.images[0].url" class="card-img-top">
<div class="card-body">
  <h5 class="card-title">{{album.name}}</h5>
</div>


<!-- 
  https://placeholder.com/
  https://www.placecage.com/
  http://place-hoff.com/
  http://placekitten.com/
  https://uifaces.co/api-docs 
  https://thenextweb.com/artificial-intelligence/2019/02/13/thispersondoesnotexist-com-is-face-generating-ai-at-its-creepiest/?ref=producthunt
-->

<!-- JSON 2 TS .com / vsc plugin -->

<!-- faker.js / mockaroo.com -->