
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <ng-content select=".title"></ng-content>
    </div>
    <ng-content></ng-content>
    
  </div>
  <div class="card-footer">
    <ng-content select="card-buttons">

    </ng-content>
  </div>
</div>