<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control mb-2" formControlName="query" placeholder="Search">

  <div *ngIf="queryForm.pending">
    Please wait...
  </div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <div *ngIf="field.hasError('required')">
        Field is required
      </div>

      <div *ngIf="field.getError('minlength') as error">
        Minimum length is {{error.requiredLength}}
      </div>

      <div *ngIf="field.getError('censor') as error">
        Cannot contain "{{error.badword}}"
      </div>

    </ng-container>
  </ng-container>


</div>
