<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form [query]="query$ | async" (queryChange)="search($event)">
    </app-search-form>
  </div>
</div>


<div class="row">
  <div class="col">
    {{message}}

    <div *ngIf="loader$ | async" style="width: 100%; height: 100px; text-align: center; ">
      <div class="lds-circle">
        <div style="color:red;"></div>
      </div>
    </div>

    <ng-container *ngIf="!(loader$ | async)">
      <div *ngIf="albums$ | async as albums ">

        <p>Found {{(albums)?.length}} results</p>

        <app-albums-grid [albums]="albums">
        </app-albums-grid>
      </div>
    </ng-container>

  </div>
</div>
