<!-- .row>.col*2 -->

<div class="row">
  <div class="col">


    <app-items-list [items]="playlists" 
    [selected]="selected" 
    (selectedChange)=" select( $event ) ">
    </app-items-list>


  </div>
  <div class="col">

    <app-playlist-details 
    (playlistSaved)="savePlaylist($event)"
    [playlist]="selected" *ngIf="selected">
    </app-playlist-details>

    <p *ngIf="!selected">Please select playlist</p>

  </div>
</div>
