:host-context(.pink-theme) p {
  color: hotpink;
}

:host(.selected) {
  display: block;
  border:1px solid black;
}

.list-group-item{
  border-left: 10px solid;
}

// :host ::ng-deep p {
//   color: hotpink;
// }
