
<!-- 
    [style.border-left-color]="hover==playlist? playlist.color : 'initial' "
    
    (mouseenter)="hover = playlist"
    (mouseleave)="hover = null" -->


<div class="list-group">

  <div 
    class="list-group-item"
   
    [class.active]=" playlist == selected " 
    (click)=" select(playlist) "

    [appHighlight]="playlist.color"

    *ngFor="let playlist of playlists; index as i; odd as odd; trackBy myTrackFn" >
    {{i+1}}. {{ playlist.name }}
  </div>




</div>
