<ng-container [ngSwitch]="mode" *ngIf="playlist != null">

  <div *ngSwitchDefault>
    <app-card>

      <h3 class="title">
        Playlist {{playlist.name}}
      </h3>

      <dl [id]=" 'playlist-details-'+ playlist.id " [title]="playlist.name" [attr.data-id]="playlist.id">

        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>

        <dt>Favorite:</dt>
        <dd>{{playlist.favorite? 'Yes':'No'}}</dd>

        <dt>Color:</dt>
        <dd [ngStyle]="{
                          color: playlist.color, 
                          'background-color': playlist.color
                        }">{{playlist.color}}</dd>
      </dl>

      <div ngProjectAs="card-buttons">

        <input type="button" class="btn btn-info" value="Edit" (click)="edit()">

      </div>


    </app-card>


  </div>

  <div *ngSwitchCase="'edit'">
    <app-card>

      <form #formRef="ngForm" (ngSubmit)="save(formRef)">

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel" required>

          <!-- {{nameRef.invalid}} -->
        </div>

        <div class="form-group">
          <label>Favorite:</label>
          <input type="checkbox" [ngModel]="playlist.favorite" name="favorite">
        </div>

        <div class="form-group">
          <label>Color:</label>
          <input type="color" [ngModel]="playlist.color" name="color">
        </div>
        <input type="button" class="btn btn-danger" value="Cancel" (click)="cancel()">
        <input type="submit" class="btn btn-success" value="Save">

      </form>
    </app-card>
  </div>


</ng-container>


<!-- <dl>
  <ng-container *ngIf="true">
    <dt></dt>
    <dd></dd>
  </ng-container>
</dl>
 -->
